.header {
	padding-top: 50px;
}

.header__top {
	position: relative;
	margin-bottom: 80px;
}

.header__logo {
	display: block;
	margin-left: 33px;
}

.nav-open {
	float: right;
	margin-right: 35px;
	margin-top: 11px;
	width: 40px;
	height: 36px;
	background: url(../img/btn-open.png) no-repeat center;
}

.site-nav {
	position: absolute;
	top: 0;
	right: 15px;
  left: 15px;
  padding: 10px 19px 70px 19px;
	background-color: #fff;
	opacity: 0.9;
	z-index: 15;
}

.nav-close {
	position: absolute;
	right: 36px;
	top: 16px;
	width: 40px;
	height: 25px;
	background: url(../img/btn-close.png) no-repeat center;
	z-index: 20;
}

.menu {
	.ul-unstyled();
	padding-bottom: 7px;
	font-family: 'Century Gothic';
	font-size: 20px;
	line-height: 28px;
	color: @active;
	border-bottom: 1px solid #818181;
  
  a {
  	display: inline-block;
  	
  }
}

.contacts {
	.ul-unstyled();
	margin-bottom: 35px;
	padding-top: 9px;
	font-family: 'SFUI Text';
	font-size: 16px;
	line-height: 22px;
	color: #000;

	li {
		margin-bottom: 15px;
		&:last-child {
			margin-bottom: 0;
		}
	}

	&__title {
		display: block;
		font-size: 14px;
		line-height: 24px;
	}
}
